.header {
  display: flex;
  justify-content: space-between;
  //   padding: 20px;
  .logo {
    h3 {
      font-family: "Lexend";
      font-weight: bolder;
      font-size: 35px;
      color: #000000;
    }
  }
  .links {
    ul {
      display: flex;
      list-style-type: none;
    }
    li {
      font-family: "Lexend";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #000000;
      margin: 0 10px;
    }
  }
  .btn-head {
    display: flex;
    column-gap: 20px;
    .cart {
      align-self: center;
      img {
        width: 40px;
      }
    }
    .user {
      align-self: center;
      background: #e91e63;
      padding: 2px 15px;
      color: white;
      border-radius: 50%;
    }
  }
}
