.productDiv {
  .banner {
    display: flex;
    // justify-content: space-between;

    .leftSide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 70%;
      h3 {
        font-family: "Lora";
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 100px;
        text-transform: capitalize;
        color: #000000;
      }
    }
    .rightSide {
      width: 30%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .product-body {
    .heading {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .input-search {
        align-self: center;
        input {
          width: 365px;
          padding: 10px;
          border-radius: 5px;
          font-size: 15px;
          font-weight: bold;
        }
      }
      h3 {
        font-family: "Lora";
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 96px;
        text-transform: capitalize;

        color: #000000;
      }
      .sortings {
        display: flex;
        column-gap: 10px;
        align-items: center;
      }
    }
    .products-show {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      .single {
        flex-basis: 25%;
        box-shadow: 1px 1px 13px 7px #9e9e9e;

        .image {
          width: 100%;
          height: 310px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .texts {
          h5 {
            font-family: "Lora";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 50px;
            text-transform: capitalize;
            color: #000000;
            text-align: center;
          }
          h4 {
            text-align: center;
            color: #e91e63;
            font-size: 20px;
            font-weight: 800;
          }
        }
        .btns {
          display: flex;
          justify-content: center;
          column-gap: 10px;
        }
      }
    }
  }
}

.single-product {
  display: flex;
  column-gap: 20px;
  .image {
    width: 500px;
    img {
      max-width: 100%;
    }
  }
  .texts {
    justify-content: center;
    display: flex;
    flex-direction: column;
    h3 {
      font-family: "Lora";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 56px;
      text-transform: capitalize;
      color: #000000;
    }
    h4 {
      font-family: "Lora";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 50px;
      text-transform: capitalize;
      color: #000000;
    }
    h5 {
      font-family: "Lora";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
    }
    span {
      font-size: 20px;
      font-weight: bold;
      color: #e91e63;
    }
  }
}
