html,
body {
  //   height: 100vh;
  background-color: #f5f8fa;
  font-family: "Poppins" !important;
}

a {
  color: none;
  text-decoration: none;
}

@import "./assets/scss/login.scss";
@import "./assets/scss/btn.scss";
